In [2]:
import names
import numpy as np
import pandas as pd
from datetime import datetime

Create a list of names and replace them to people in the dataset

In [3]:
df = pd.read_excel('./uploads/dataset.xlsx')
users = df['username'].drop_duplicates().to_list()
fake_names = [(user, names.get_full_name()) for user in users]

In [ ]:
notduplicated_users = df['username']
for user, name in fake_names:
    notduplicated_users = notduplicated_users.replace(user, name)

# Successfully replaced usernames with fake names
notduplicated_users

0           Martha Long
1          Billy Carter
2        Carl Piccinone
3        Carl Piccinone
4        Rhoda Culligan
             ...
6122    Roxanne Pouncil
6123      Stephen Wolfe
6124          Eric Wall
6125    Charles Morvant
6126       Cassidy Rice
Name: username, Length: 6127, dtype: object

Take the list of courses and replace them to the courses in the dataset

In [4]:
courses = df['course'].drop_duplicates()

df_coursera = pd.read_csv('Coursera.csv')
coursera = df_coursera['Course Name']

NameError: name 'df' is not defined

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Convert courses and coursera into TF-IDF vectors
tfidf_vectorizer = TfidfVectorizer()
courses_tfidf = tfidf_vectorizer.fit_transform(courses)
coursera_tfidf = tfidf_vectorizer.transform(coursera)

# Calculate the cosine similarity
cosine_sim = cosine_similarity(courses_tfidf, coursera_tfidf)

# Take the highest cosine similarity for each course in the matrix called cosine_sim and store it in a list called best_courses
similar_coursera = []
for i in range(len(courses)):
    similar_coursera.append(coursera[cosine_sim[i].argmax()])

fake_courses = [(course, similar_coursera[i]) for i, course in enumerate(courses)]

NameError: name 'courses' is not defined

In [ ]:
notduplicated_courses = df['course']
for course, coursera in fake_courses:
    notduplicated_courses = notduplicated_courses.replace(course, coursera)

# Successfully replaced courses by new course
notduplicated_courses

0       Build Basic Generative Adversarial Networks (G...
1        Emergency Care: Pregnancy, Infants, and Children
2        Emergency Care: Pregnancy, Infants, and Children
3       Non-Equilibrium Applications of Statistical Th...
4       Build Basic Generative Adversarial Networks (G...
                              ...
6122    Addiction Treatment: Clinical Skills for Healt...
6123    Addiction Treatment: Clinical Skills for Healt...
6124    Addiction Treatment: Clinical Skills for Healt...
6125    Addiction Treatment: Clinical Skills for Healt...
6126    Addiction Treatment: Clinical Skills for Healt...
Name: course, Length: 6127, dtype: object

Reformat the time in the dataset to a date format

In [15]:
date = df['time']

def reformat_month(month):
    month_th = ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.']
    month_en = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
    return month_en[month_th.index(month)]

reformat_date = []
for i, t in enumerate(date):
    list_date = t.split(' ')
    day = list_date[0]
    month = reformat_month(list_date[1])
    year = list_date[2][: 4]
    time = list_date[2][4:]
    date_str = f'{year}-{month}-{day} {time}:00'
    reformat_date.append(date_str)

reformat_date = pd.Series(reformat_date)

# Successfully changed string type to datetime
reformat_date

ValueError: '08:30:00' is not in list

Change the payment to an english language

In [6]:
conditions = {
    'ชำระเงิน': 'success',
    'ค้างชำระ': 'failure',
    'ไม่ผ่านการอนุมัติ': 'disapproval'

}
payment = df['payment'].replace(conditions)

# Successfully replaced payment status
payment

NameError: name 'df' is not defined

Change the degree to an english language

In [7]:
set_nan = {'อื่นๆ (-)', np.nan}
set_primaryschool = {'ประถมศึกษา', 'อื่นๆ (ป.4)', 'อื่นๆ (ป.7)', 'อื่นๆ (ป7)'}
set_middleschool = {'มัธยมศึกษาตอนต้น', 'Secondary school', 'อื่นๆ (มศ.3)'}
set_highschool = {'มัธยมศึกษาตอนปลาย', 'High school', 'Vocational', 'การศึกษานอกระบบ', 
                  'ประกาศนียบัตรวิชาชีพ (ปวช.)', 'อื่นๆ (ม.ปลาย จบหลักสูตรEMR เป็นจนท.ปฏิบัติการ)',
                  'อื่นๆ (กำลังศึกษาชั้นมัธยมศึกษาตอนปลาย)', 'อื่นๆ (กำลังศึกษาชั้นมัธยมศึกษาปีที่6)', 
                  'อื่นๆ (มศ.5)'}
set_bachelor = {'ปริญญาตรี', 'Bachelor degree', 'Diploma', 'High Vocational', 
                'ประกาศนียบัตรวิชาชีพชั้นสูง (ปวส.)', 'อื่นๆ (กำลังศึกษาในระดับปริญญาตรี)', 
                'อื่นๆ (กำลังศึกษาปริญญาตรี สาขารังสีเทคนิค)', 'อื่นๆ (ปริญญาแพทยศาสตร์บัณฑิต)', 
                'อื่นๆ (นักศึกษาแพทย์ปี 5)', 'อื่นๆ (นักศึกษาแพทย์ มช ปี4 ศูนย์เชียงราย)', 
                'อื่นๆ (แพทยศาสตร์บัณฑิต)', 'อื่นๆ (แพทย์)', 'อื่นๆ (ประกาศณียบัตรผู้ช่วยพยาบาล)', 
                'อนุปริญญา', 'อื่นๆ (ป.ตรี)', 'อื่นๆ (ผู้ช่วยพยาบาล)'}
set_master = {'ปริญญาโท', "Master's degree", 'Other (OBGYN specalist lavel 1)', 
                'Other (Residency)', 'อื่นๆ (Internal Medicine)', }

set_phd = {'ปริญญาเอก', 'Ph.D.', 'อื่นๆ (เฉพาะทาง)', 'อื่นๆ (วุฒิบัตร)', 'อื่นๆ (วว.ออร์โธปิดิกส์)', 
                    'อื่นๆ (วุฒิบัตรแสดงความรู้ความชำนาญในการประกอบวิชาชีพเภสัชกรรม สาขาเภสัชบำบัด)', 
                    'อื่นๆ (วุฒิบัตรผู้เชี่ยวชาญสาขาทันตกรรมทั่วไป)', 'อื่นๆ (วุฒิบัตรศัลยศาสตร์และแม็กซิลโลเฟเชียล)'}

In [8]:
education = df['education']
education = education.replace(set_nan, 'None')
education = education.replace(set_primaryschool, 'Primary school level')
education = education.replace(set_middleschool, 'Middle school level')
education = education.replace(set_highschool, 'High school level')
education = education.replace(set_bachelor, 'Bachelor degree')
education = education.replace(set_master, 'Master degree')
education = education.replace(set_phd, 'Doctor degree')

# Sucessfully replaced the education
education

NameError: name 'df' is not defined

In [10]:
df = pd.read_excel('./uploads/dataset.xlsx')
address = df['address']
address = pd.Series([ np.nan if str(data) == 'nan' else 'Filled address' for data in address])

# Successfully replaced the address
address

FileNotFoundError: [Errno 2] No such file or directory: './uploads/shortcourses2566.xlsx'

Create a new dataset

In [242]:
email = df['email']

# Split @ into 2 parts
email = email.str.split('@', expand=True)[1]

# Successfully replaced the email with only domain
email

0       gamil.com
1       gmail.com
2       gmail.com
3       gmail.com
4       gmail.com
          ...
6122    cmu.ac.th
6123    cmu.ac.th
6124    cmu.ac.th
6125    cmu.ac.th
6126    cmu.ac.th
Name: 1, Length: 6127, dtype: object

In [ ]:
# Create a new dataframe
data = {
    'username': notduplicated_users, # Correct
    'education': education, # Correct
    'age': df['age'], # Correct
    'email': email, # Correct
    'address': address, # Correct
    'course': notduplicated_courses, # Correct
    'time': reformat_date, # Correct
    'payment': payment, # Correct
}
df = pd.DataFrame(data)

# Save the dataframe to an Excel file
df.to_excel('dataset.xlsx', index=False)